{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- SECTION BACKGROUND -->

<div class="py-10 md:py-12 bg-cover bg-center" 
     style="background-image: url('{% static "images/back3.jpg" %}');">

<div class="w-full max-w-6xl mx-auto px-4 md:px-6">

<!-- PAGE TITLE -->

<h2 class="text-xl md:text-3xl font-semibold text-center mb-6 md:mb-10 text-black">
Explore by Space
</h2>

<!-- CATEGORY GRID -->

<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 md:gap-10 text-center">

<!-- CARD -->

<a href="/category/washroom" class="block">
    <img src="{% static 'images/Bathroom.jpg' %}"
    class="w-full h-52 md:h-64 object-cover rounded-xl">
    <p class="mt-3 text-base md:text-lg tracking-wide text-black font-semibold uppercase">
    Bathroom
    </p>
</a>

<!-- CARD -->

<a href="/category/living" class="block">
    <img src="{% static 'images/livingroom.jpg' %}"
    class="w-full h-52 md:h-64 object-cover rounded-xl">
    <p class="mt-3 text-base md:text-lg tracking-wide text-black font-semibold uppercase">
    Living Room
    </p>
</a>

<!-- CARD -->

<a href="/category/outdoor" class="block">
    <img src="{% static 'images/outdoor.jpg' %}"
    class="w-full h-52 md:h-64 object-cover rounded-xl">
    <p class="mt-3 text-base md:text-lg tracking-wide text-black font-semibold uppercase">
    Outdoor
    </p>
</a>

<!-- CARD -->

<a href="/category/kitchen" class="block">
    <img src="{% static 'images/kitchen.jpg' %}"
    class="w-full h-52 md:h-64 object-cover rounded-xl">
    <p class="mt-3 text-base md:text-lg tracking-wide text-black font-semibold uppercase">
    Kitchen
    </p>
</a>

<!-- CARD -->

<a href="/category/bedroom" class="block">
    <img src="{% static 'images/bedroom.jpg' %}"
    class="w-full h-52 md:h-64 object-cover rounded-xl">
    <p class="mt-3 text-base md:text-lg tracking-wide text-black font-semibold uppercase">
    Bedroom
    </p>
</a>

<!-- CARD -->

<a href="/category/commercial" class="block">
    <img src="{% static 'images/commercial.jpg' %}"
    class="w-full h-52 md:h-64 object-cover rounded-xl">
    <p class="mt-3 text-base md:text-lg tracking-wide text-black font-semibold uppercase">
    Commercial Spaces
    </p>
</a>

</div>

</div>

</div>

{% endblock %}
